<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>emspayafterpay</name>
    <displayName><![CDATA[EMS Online - AfterPay]]></displayName>
    <version><![CDATA[1.4.4]]></version>
    <description><![CDATA[Accept payments in your webshop using AfterPay.]]></description>
    <author><![CDATA[Ginger Payments]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>